$footer-height: 70px;
$header-height-small: 60px;
$header-height: 80px;
$side-drawer-width: 273px;
$slideshow-max-width: 1300px;
$slideshow-min-height: 700px;

// Breakpoints.
$phab: 480px;
$tab: 760px;
$lap: 1080px;
$desk: 1260px;
$huge: 1740px;